<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} - Eugene Ngo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../assets/css/style.css">
</head>
<body>
    <header>
        <h1>Eugene Ngo</h1>
        <nav>
            <a class="nav" href="../../../index.html">Home</a>
            <a class="nav" href="../../../about.html">About</a>
            <a class="nav" href="../../../portfolio.html">Portfolio</a>
            <a class="nav" href="../../../blog.html">Blog</a>
        </nav>
    </header>
    <p><a class="back-button" href="../../../blog.html"> &lt;&lt; Back to Blog</a></p>
    {{ content }}
    <footer>
        <a class="social-link" href="mailto:etngo@outlook.com" target="_blank" rel="noopener noreferrer"><img class="socials" src="../../../assets/img/mail.png">Reach out</a>
        <a class="social-link" href="https://www.linkedin.com/in/etngo/" target="_blank" rel="noopener noreferrer"><img class="socials" src="../../../assets/img/linkedin.png">LinkedIn</a>
        <a class="social-link" href="https://github.com/etngo2001" target="_blank" rel="noopener noreferrer"><img class="socials" src="../../../assets/img/github.png">GitHub</a>
        <a class="social-link" href="https://www.instagram.com/en.kien/" target="_blank" rel="noopener noreferrer"><img class="socials" src="../../../assets/img/instagram.png">Instagram</a>
    </footer>
</body>
</html>